<a href="https://colab.research.google.com/github/NIKHIL-PINGALE/Python_basic_assignments/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q1 . Write a Python program to convert kilometers to miles?**

In [ ]:
km=int(input("Enter kilometers = "))
# 1km = 0.621371
mile=km*0.621371
print("{} km is equal to {} miles".format(km,mile))

Enter kilometers = 320
320 km is equal to 198.83872 miles

# **Q2. Write a Python program to convert Celsius to Fahrenheit?**

In [12]:
celcius=eval(input("enter your celcius value = "))
# 1 farenheit = (celcius * 1.8) + 32
farenheit = (celcius * 1.8) + 32
print("{0} celcius is equal to {1}".format(celcius,farenheit))

enter your celcius value = 37.5
37.5 celcius is equal to 99.5

# **Q3. Write a Python program to display calendar?**

In [41]:
import calendar
yy=int(input("enter year = "))
mm=int(input("enter month = "))
print(calendar.month(yy,mm))

enter year = 1998
enter month = 11
   November 1998
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

# **Q4. Write a Python program to solve quadratic equation?**

In [38]:
#import complex math module
import cmath
a=int(input("enter a = "))
b=int(input("enter b = "))
c=int(input("enter c = "))
#Firstly calculate the discriminant
disc=(b**2)-(4*a*c)
# calculate roots of quadratic equation
root1=(-b-cmath.sqrt(disc))/(2*a)
root2=(-b+cmath.sqrt(disc))/(2*a)
print("solution of quadratic equation is = {0}  and  {1}".format(root1,root2))

enter a = 1
enter b = 6
enter c = 5
solution of quadratic equation is = (-5+0j)  and  (-1+0j)

# **Q5. Write a Python program to swap two variables without temp variable?**

In [33]:
num1=input("enter value of num1 = ")
num2=input("enter value of num2 = ")
print("Before swapping : num1={}  and  num2={}".format(num1,num2))
num1,num2=num2,num1
print("After swapping :  num1={}  and  num2={}".format(num1,num2))

enter value of num1 = 111
enter value of num2 = 999
Before swapping : num1=111  and  num2=999
After swapping :  num1=999  and  num2=111